body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(http://res.cloudinary.com/thefinleycode/image/upload/v1478754313/france-1790999_1280_vgzysi.jpg) no-repeat center fixed;

}

a {
  color: #00B7FF;
}

img {
	height: 100px;
	width: 100px;

}
li {
	font-size: 20px;
	padding: 10px;
}

h3 { 
	margin-top: 3px;
 }

 h4 {
 	color: white;
 }

.container {
	width: 90%;
}

.writing {
	font-family: 'Reenie Beanie', cursive;
	/*font-family: 'Nothing You Could Do', cursive;*/
	font-size: 35px;
}



#task {
	font-size: 40px;
	background-color: rgba(192,192,192,.7)

}


label { 
	font-size: 1.5em;
	color: #110d0d;
 }

.card-panel{
	/*padding: 10px;*/
	width: 100%;
	
	padding-bottom: 40px;


}
button {
	margin-top: 10px;

}

#assigned {
	color: black;

}

.assignTo{
	font-size: .5em;
}
/*.complete_float {
	clear:both;
}

.trash_float {
	clear:both;
}*/

